body{background-color: #9f8303}
img{display: block;
   margin-left: auto;
   margin-right: auto}
h1{text-align:center;
   font-size:275%;}
p{color:#00fac4;
   margin-left: 5%;
   font-size: 150%}